@import "./reset.scss";
@import "./app-element.scss";

.fl{
    float: left;
}
.fr{
    float: right;
}
/* 清除浮动 */
.clearfix:after {
    content:""; 
    display:block;
    visibility:hidden; 
    height:0;
    line-height:0; 
    clear:both;
}
