/*
  全局覆盖element的样式
*/

//table
.el-table {

  th>.cell,
  .cell {
    text-align: center;
  }
}

// form
.el-form {
  .el-select,
  .el-date-editor.el-input {
    width: 100%;
  }
}


.forbidden .el-carousel__indicators {
  display: none;
}
