$white: #fff;
$theme-color:#409eff;

$theme-color-white__2:mix($white, $theme-color, 20%);
$theme-color-white__8:mix($white, $theme-color, 80%);
$theme-color-white__9:mix($white, $theme-color, 90%);


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  themeColor: $theme-color;
}



.custom-theme-special-mark {
  content: "277040a3-ee24-9156-6686-56eaad8218a9"
}


.header {


  .header__logo:hover {
    color: $theme-color;
  }
}

.layout-tags {
  .layout-tags__item {
    background-color: $theme-color-white__9;
  }

  .layout-tags__item a {
    color: $theme-color;
  }

  .layout-tags__item i {
    color: $theme-color;
  }

  .layout-tags__item.active {
    background-color: $theme-color;
  }
}
